#user, #password{
    height: 50px;
    width: 300px;
}
header{
    background-color: #00cec9;
    margin:auto;
    height: 50px;
    border-radius: 20px;
}
body{
    background-color: #c7ecee;
}

#header{
    text-align: center;
}

#urna{
    height: 200px;
    width: 200px;
}

#logo{
    margin-left: 500px;
}
